{% extends 'base_template.html' %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="container-lg mt-4">
        <div class="card">
            <div class="card-body p-4 bg-light">
                <h1 class="my-4 display-4">Documents merger</h1>
                <p class="lead">Простое приложение, которое позволяет объединять несколько файлов в один файл.</p>
  
                <hr>

                <p class="lead fw-normal fs-6">Здесь вы сможете: </p>
                <ul class="lead fw-light fs-6">
                    <li>Объединить несколько файлов Excel в один файл;</li>
                    <li>Объединить несколько файлов PDF в один файл.</li>
                </ul>
                <p class="lead fw-normal fs-6" >Для начала работы воспользуйтесь панелью управления.</p>
            </div> 
        </div>
    </div>
</div>
{% endblock %}