{% extends 'base_template.html' %}

{% block content %}
<main class="flex-grow-1">
    <div class="container-lg mt-5">
        <h1></h1>
        <div class="row">
            <div class="col-12 col-md-10 col-lg-9 mx-auto border rounded-3 bg-light p-5">
                <p>Выберете несколько файлов формата .pdf и затем нажмите на кнопку "Получить файлы".</p>
                <p>* Размер каждого файла не должен превышать 100КБ для получения корретного результата;</p>
                <p>* Все необходимые файлы для загрузки должны находиться в одной и той же папке;</p>
                <p>* Зажмите Ctrl(Windows) / cmd(Mac) для выбора, а затем кликайте на каждый необходимый файл, чтобы его отметить для выбора, после завершения нажмите на кнопку "Открыть".</p>
                <form action="{{ url_for('get_merged_pdf') }}" method=post enctype=multipart/form-data class="d-flex justify-content-center">
                    <input type=file name=pdffile multiple accept=".pdf" required class="form-control form-control-lg">
                    <input type=submit value="Получить файлы" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3">
                </form>
            </div>
        </div> 
    </div>
</main>
{% endblock %}